.result_container {
  position: relative;
  width: 370px;
  background-color: #fff;
}

.bookmark_container {
  margin-bottom: 0;
  font-weight: 500;
}
.bookmarktext_box .recipe_title {
  font-size: 1.4rem;
}
.bookmarktext_box .recipe_owner {
  font-size: 1.2rem;
}
.result_container ul {
  padding-inline-start: 0;
}

.ul_list {
  list-style-type: none;
  padding-top: 3rem;
  padding-bottom: 5rem;

  /* display: flex;
  flex-direction: column; */
}

.result_text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.recipe_list {
  background-color: #fff;
  /* padding: 0.5rem; */
}
.recipe_list :hover,
.recipe_list :active {
  background-color: #eee;
}
.recipe_list_active {
  background-color: #ddd;
}
.result_list_active :hover,
.result_list_active :active {
  background-color: #ddd;
}
.recipe_detail_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;

  padding: 10px;
  cursor: pointer;
}
.recipe_list_image img {
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 50%;
}
.recipe_title,
.recipe_owner {
  margin: 0;
  text-transform: uppercase;
  font-family: sans-serif;
}
.recipe_title {
  font-size: 1.6rem;
  color: #f78656;
  letter-spacing: 1.1px;
  width: 100%;

  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
}
.recipe_owner {
  font-size: 1.2rem;
  color: #777;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe_owner p {
  margin: 0 !important;
}
.recipe_owner ion-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.copyright {
  padding: 2.4rem 2rem;
  margin-bottom: 5rem;
}
.copyright p {
  font-size: 11px;
  color: #777;
  position: absolute;
  bottom: 2rem;
}
/*///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/

.spiner {
  margin: 5rem auto;
  text-align: center;
}

.spiner svg {
  width: 4.4rem;
  height: 4.4rem;
  color: #f78656;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
