.addform_container {
  padding: 0 !important;
  background-color: aliceblue;
  border-radius: 1.2rem;
}
.isvalid {
  text-align: center;
  color: #ca3e51;
  margin-bottom: 0 !important;
}
.form {
  background-color: aliceblue;
  max-width: 100rem;
  margin: 0 auto;
  border-radius: 9px;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
}

.close {
  position: absolute;
  top: 9px;
  right: 12px;
  cursor: pointer;
  transition: all 0.3;
}
.close button {
  border: none;
  background-color: aliceblue;
}
.close button:hover,
.close button:active {
  width: 4rem;
  height: 3.2rem;
  background-color: #e7916d;
  color: #fff;
  border: none;
}

.close ion-icon {
  color: #666;
  /* width: 3.2rem; */
  /* height: 3.2rem; */
  font-size: xx-large;
}

.form_header {
  font-weight: bold;
  margin-bottom: 2.5rem;
  color: #666;
}

.control {
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.control label {
  font-weight: lighter;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  padding: 6px;
  color: #666;
}
.control input:focus {
  outline: none;
}
.form_data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: grid;
  grid-column: 1/-1;
  margin: 4rem;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-image: linear-gradient(to right, #f0bb51, #f78656);
  border: none;
  border-radius: 25px;
  padding: 1rem 4rem;
  transition: all 0.3s;
}

.actions button:hover,
.actions button:active {
  background-image: linear-gradient(to right, #f0bb51, #de794d);

  transform: scale(1.1);
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;

  display: flex;
  align-items: center;
  gap: 7px;
}

.actions .submit ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
